@use "../settings/mixins" as mixins;

.c-file {
    @include mixins.flexbox(null, space-between, center, 2rem);
    padding: 10px;
    background-color: #afacac;
    border-radius: 5px;
    border: 5px solid transparent;

    transition: all 50ms ease-in-out;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
    }

    &__data {
        display: flex;
        gap: 1rem;

        p {
            font-size: 18px;
            font-weight: 500;
        }
    }

    &--active {
        border: 5px solid #6a6a6a;
    }

    &:hover {
        cursor: pointer;
        border: 5px solid #6a6a6a;

        transition: all 300ms ease-in-out;
    }
}
