@use "../settings/mixins" as mixins;

.c-files {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: #d9d9d9;

    border-radius: 15px;

    padding-inline: 10px;
    padding-block: 15px;

    max-height: 90vh;

    &__header {
        @include mixins.flexbox(row, space-between, center, 0);
    }
}
