.c-icon {
    &--trash {
        transition: all 50ms ease-in-out;

        &:hover {
            cursor: pointer;
            fill: #e01515;
            transition: all 50ms ease-in-out;
        }
    }
}
