@use "../settings/mixins" as mixins;

.u-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    width: 100vw;
    height: 100vh;
}

.u-flex {
    @include mixins.flexbox(column, null, null, 1rem);
}

.u-scroll {
    height: 100%;
    overflow-y: auto;
}
